<%- include("header") -%>

<h2>What is this about?</h2>

<p>"an individual or collaborative enterprise that is carefully planned to achieve a particular aim." -the dicionary</p>

<%- include("footer") -%>
