<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">Please enter your To Do List name and click Go</h5>
        </div>
        <!-- <div class="modal-body text-center">
          Please enter your To Do List name and click Go.
        </div> -->
          <form id="formModal" class="form-group row">
            <input id="customList" type="text" class="form-control col" placeholder="To Do List Name">
            <button id="submitButton" type="button" onclick="redirect()" class="col-3 btn btn-primary btn-lg">Go!</button>
          </form>
      </div>
    </div>
  </div>