html {
  background-color: #181a1b;
  background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
  /* min-height: 1000px; */
  font-family: 'helvetica neue';
}

h1 {
  padding: 10px;
  color: rgba(255, 255, 255, 0.904);}

.box {
  max-width: 400px;
  margin: 50px auto;
  background:#181a1b;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color:rgba(137, 43, 226, 0.387);
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #c8c3bc89;
}

.item:last-child {
  border-bottom: 0;
}
body{
  background-color: #181a1b;
  color:#d1cdc7;
}
input:checked {
  text-decoration: line-through;
  text-decoration-color: rgba(137, 43, 226, 0.387);
}

input[type="checkbox"] {
  margin: 20px;
}
/* input[aria-label]:hover::after{
  content:attr(aria-label);
  color:blue;
  background-color:black;
  position:relative;
  bottom:1rem;
  right:2rem;
  width:3rem;
} */



p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button:hover{
  cursor:pointer;
}
/* button[aria-label="Add Item to List"]:hover::after{
  content: attr(aria-label);
  position: absolute;
  top: -100%;
  left: 0;
} */

input[type="text"] {
  color: rgba(255, 255, 255, 0.904);
  cursor:text;
  text-align: center;
  height: 60px;
  top: 10px;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  /* width: 313px; */
  border: dashed;
  border-color:rgba(137, 43, 226, 0.493);
  border-width:.07rem;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 rgba(137, 43, 226, 0.387);
}
input[type="text"]:hover{
  background-color:rgba(137, 43, 226, 0.387);
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: rgba(255, 255, 255, 0.904);
  /* color: rgba(0, 0, 0, 0.5); */
  text-align: center;
}
